.EmailQuery {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    text-align: center;
    background-image: linear-gradient(to left,  #4ad1df 50%, tomato 50% );
    box-shadow: 0 0 14px #999;
    padding: 10px;
    border-radius: 5px;

    thead {
        border-bottom: 1px solid #333;

        th {
            padding: 2px 5px;
        }
    }
    
    td {
        padding: 2px 5px;
        min-width: 170px;
    }
}