.header {
    background-color: white;
    box-shadow: 0 3px 5px #999;

    .header-row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @import "logo";
        @import "menu";
    }

    @media print {
        display: none;
    }
}