* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    outline: none;
}

.collapse:not(.show) {
    display: flex;
    flex-wrap: wrap;

    .nav-item {
        flex: 1;
        text-align: center;
        
        &:focus ,
        &:hover {
            background-color: lightgrey;
        }
    }
}

a {
    color: inherit !important;
    text-decoration: none;
}

.nav-link {
    cursor: pointer;
}



.text-left {
    text-align: left;
}

.print-none {
    @media print {
        display: none;
    }
}
summary {
    list-style: revert;
}